* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/PPTelegraf-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body, html {
    height: 100%;
    font-family: 'Telegraf', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    flex-direction: column;
    padding: 20px;
    background-color: #ddd;
}

.content {
    margin-bottom: 100px;
}

.left img, .right img {
    max-width: 100%;
    height: auto;
    display: block;
}

.right {
    background-color: #ddd;
}

.right img {
    width: 90%; /* Adjust this value as needed to increase the size */
    max-width: none;
    height: auto;
    display: block;
}

.instagram {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2.8em;
}

.instagram img {
    width: 10%; /* Adjust this value as needed to increase the size */
    max-width: none;
    height: auto;
    display: block;
}

.instagram-icon {
    height: 24px;
    margin-right: 10px;
    width: 10%;
    padding-left: 50px;
    padding-bottom: 0px;
}

.instruction {
    font-size: 3em;

    padding-left: 50px;
    padding-top: 30px;
}

.description {
    font-family: 'Telegraf', sans-serif;
    font-size: 2em;
    padding-left: 50px;
    padding-bottom = 20%;
}

.h2 {
    font-family: 'Telegraf', sans-serif;
    font-size: 6em;
    padding-left: 50px;
}

.logo {
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20%;
}

.top-left-image {
    position: absolute;
    top: 50px;
    left: 50px;
}
